n8n-workflows/WF2-next-day.json
{
  "name": "WF2 — Next Day Engine",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "closeit/next-day",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wf2-01",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        180,
        300
      ],
      "webhookId": "closeit-next-day"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-secret",
              "leftValue": "={{ $json.headers['x-webhook-secret'] }}",
              "rightValue": "closeit_secret_2026",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf2-02",
      "name": "Check Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"Unauthorized\" }",
        "options": {
          "responseCode": 401
        }
      },
      "id": "wf2-03",
      "name": "Reject 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        620,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "const { day, leads, config } = $input.first().json.body;\nconst freq = config.reminders.frequencyDays;\nconst maxR = config.reminders.maxReminders;\nlet idCounter = Date.now();\nfunction uid() { return `a${idCounter++}`; }\nfunction ts() { return new Date().toISOString(); }\nfunction budgetScore(b) { return b > 2000 ? 10 : b >= 500 ? 6 : 3; }\nfunction intentScore(s) { return s === 'high' ? 9 : s === 'medium' ? 6 : 3; }\nfunction timelineScore(d) { return d <= 7 ? 10 : d <= 21 ? 6 : 3; }\nfunction computeScore(lead) {\n  const bs = budgetScore(lead.formInputs.budget);\n  const is = intentScore(lead.intentSignal);\n  const tss = timelineScore(lead.formInputs.timelineDays);\n  const { budgetWeight, intentWeight, timelineWeight } = config.scoring;\n  const raw = (bs * budgetWeight + is * intentWeight + tss * timelineWeight) / 100;\n  const score = Math.round(raw);\n  const classification = score >= 7 ? 'Hot' : score >= 4 ? 'Warm' : 'Cold';\n  return { score, classification, rationale: `Budget ${bs}/10, Intent ${is}/10, Timeline ${tss}/10` };\n}\nfunction seeded(leadId, salt) {\n  const str = leadId + salt;\n  let hash = 0;\n  for (const c of str) hash = ((hash << 5) - hash) + c.charCodeAt(0);\n  return (Math.abs(hash) % 10000) / 10000;\n}\nfunction getStory(lead) {\n  if (lead.score >= 7) {\n    const replyRel = 2 + Math.floor(seeded(lead.id, 'reply') * 3);\n    return { staffCallDay: 2, customerReplyDay: replyRel, meetingDay: replyRel, closeDay: replyRel + 2 };\n  } else if (lead.score >= 4) {\n    const replies = seeded(lead.id, 'replies') < 0.6;\n    const closes = replies && seeded(lead.id, 'closes') < 0.5;\n    const replyRel = 4 + Math.floor(seeded(lead.id, 'reply') * 4);\n    return { staffCallDay: 3, customerReplyDay: replies ? replyRel : null, meetingDay: closes ? replyRel : null, closeDay: closes ? replyRel + 2 : null };\n  }\n  return { staffCallDay: null, customerReplyDay: null, meetingDay: null, closeDay: null };\n}\nconst allActions = [];\nconst leadUpdates = {};\nfor (const lead of leads) {\n  const rel = day - lead.registeredOnDay;\n  const actions = [];\n  const updates = {};\n  const story = getStory(lead);\n  if (rel === 1) {\n    const { score, classification, rationale } = computeScore(lead);\n    updates.score = score; updates.classification = classification; updates.status = 'Contacted'; updates.nextReminderDay = day + freq;\n    actions.push({ id: uid(), day, type: 'email_sent', leadId: lead.id, leadName: lead.name, actor: 'system', summary: `Onboarding email sent to ${lead.name}`, detail: { channel: 'Email', subject: `Welcome — let's talk`, body: `Hi ${lead.name},\\n\\nThanks for reaching out! Budget $${lead.formInputs.budget}, timeline ${lead.formInputs.timelineDays} days.\\n\\n— ${lead.assignedRep}` }, timestamp: ts() });\n    actions.push({ id: uid(), day, type: 'score_update', leadId: lead.id, leadName: lead.name, actor: 'ai', summary: `Lead scored ${score}/10 — ${classification}`, detail: { score, classification, rationale, weights: config.scoring }, timestamp: ts() });\n    actions.push({ id: uid(), day, type: 'rep_assigned', leadId: lead.id, leadName: lead.name, actor: 'team', summary: `${lead.assignedRep} assigned to ${lead.name}`, detail: { rep: lead.assignedRep, note: `${classification} lead — ${score}/10.` }, timestamp: ts() });\n    if (score >= 4) actions.push({ id: uid(), day, type: 'proposal_sent', leadId: lead.id, leadName: lead.name, actor: 'team', summary: `${lead.assignedRep} mailed proposal to ${lead.name}`, detail: { rep: lead.assignedRep, subject: 'Project Proposal', body: `Hi ${lead.name},\\n\\nBudget: $${lead.formInputs.budget}, Timeline: ${lead.formInputs.timelineDays} days.\\n\\n— ${lead.assignedRep}` }, timestamp: ts() });\n  }\n  if (story.staffCallDay !== null && rel === story.staffCallDay && !['Closed Won','Closed Lost','Nurture'].includes(lead.status)) {\n    actions.push({ id: uid(), day, type: 'call_logged', leadId: lead.id, leadName: lead.name, actor: 'team', summary: `${lead.assignedRep} called ${lead.name} — left voicemail`, detail: { rep: lead.assignedRep, notes: 'Called to follow up on proposal. No answer — left voicemail.' }, timestamp: ts() });\n  }\n  const alreadyReplied = ['Replied','Meeting Scheduled','Closed Won','Nurture'].includes(lead.status);\n  if (story.customerReplyDay !== null && rel === story.customerReplyDay && !alreadyReplied) {\n    const isHot = lead.score >= 7;\n    actions.push({ id: uid(), day, type: 'reply_received', leadId: lead.id, leadName: lead.name, actor: 'customer', summary: isHot ? `${lead.name} replied: ready to move` : `${lead.name} replied: interested but busy`, detail: { from: lead.email, body: isHot ? 'Ready to move fast — can we schedule a call?' : 'Interested but hectic. Follow up in a week?' }, timestamp: ts() });\n    actions.push({ id: uid(), day, type: 'email_sent', leadId: lead.id, leadName: lead.name, actor: 'ai', summary: `AI drafted reply sent to ${lead.name}`, detail: { subject: 'Re: Project Proposal', body: isHot ? `Hi ${lead.name},\\n\\nAbsolutely — booking link below.\\n\\n— ${lead.assignedRep} (via CloseIt AI)` : `Understood ${lead.name} — I'll check back in a week.\\n\\n— ${lead.assignedRep} (via CloseIt AI)` }, timestamp: ts() });\n    if (story.meetingDay === rel) { actions.push({ id: uid(), day, type: 'meeting_scheduled', leadId: lead.id, leadName: lead.name, actor: 'system', summary: `Discovery call booked with ${lead.name}`, detail: { date: `Day ${day + 1}`, rep: lead.assignedRep, nudge: true }, timestamp: ts() }); updates.status = 'Meeting Scheduled'; }\n    else { updates.status = 'Replied'; }\n    updates.nextReminderDay = null;\n  }\n  if (story.closeDay !== null && rel === story.closeDay && !['Closed Won','Closed Lost'].includes(lead.status)) {\n    actions.push({ id: uid(), day, type: 'call_logged', leadId: lead.id, leadName: lead.name, actor: 'team', summary: `${lead.assignedRep} completed discovery call with ${lead.name}`, detail: { rep: lead.assignedRep, notes: 'Strong fit. Proceeding to agreement.' }, timestamp: ts() });\n    actions.push({ id: uid(), day, type: 'closed_won', leadId: lead.id, leadName: lead.name, actor: 'team', summary: `🎉 ${lead.name} closed won by ${lead.assignedRep}`, detail: { rep: lead.assignedRep, value: `$${lead.formInputs.budget}`, note: 'Agreement signed.' }, timestamp: ts() });\n    updates.status = 'Closed Won'; updates.nextReminderDay = null;\n  }\n  const onSpecialDay = story.customerReplyDay === rel || story.closeDay === rel;\n  const engaged = ['Replied','Meeting Scheduled','Closed Won','Closed Lost','Nurture'].includes(lead.status);\n  if (!onSpecialDay && !engaged && lead.nextReminderDay === day && lead.remindersSent < maxR) {\n    const rn = lead.remindersSent + 1;\n    actions.push({ id: uid(), day, type: 'email_sent', leadId: lead.id, leadName: lead.name, actor: 'ai', summary: `Follow-up #${rn} sent to ${lead.name} (AI-drafted)`, detail: { subject: rn === 1 ? `Quick check-in — ${lead.name}` : `Last note from us — ${lead.name}`, body: rn === 1 ? `Hi ${lead.name},\\n\\nJust checking in on the proposal.\\n\\n— ${lead.assignedRep} (via CloseIt AI)` : `Hi ${lead.name},\\n\\nFinal note — reply any time.\\n\\n— ${lead.assignedRep} (via CloseIt AI)` }, timestamp: ts() });\n    updates.remindersSent = rn;\n    if (rn >= maxR) { updates.status = 'Nurture'; updates.nextReminderDay = null; actions.push({ id: uid(), day, type: 'moved_to_nurture', leadId: lead.id, leadName: lead.name, actor: 'system', summary: `${lead.name} moved to Nurture`, detail: { reason: `${maxR} follow-ups, no response.` }, timestamp: ts() }); }\n    else { updates.nextReminderDay = day + freq; updates.status = 'Awaiting Reply'; }\n  }\n  allActions.push(...actions);\n  if (Object.keys(updates).length > 0) leadUpdates[lead.id] = updates;\n}\nreturn [{ json: { day, actions: allActions, leadUpdates } }];"
      },
      "id": "wf2-04",
      "name": "Compute Day Actions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Split the actions array into individual items for Sheets append\nconst { day, actions, leadUpdates } = $input.first().json;\n\nif (!actions || actions.length === 0) {\n  // No actions — return a dummy item to keep the flow going\n  return [{ json: { _noActions: true, day, leadUpdates } }];\n}\n\nreturn actions.map(action => ({\n  json: {\n    lead_id: action.leadId,\n    day: action.day,\n    action_type: action.type,\n    actor: action.actor,\n    summary: action.summary,\n    detail_json: JSON.stringify(action.detail || {}),\n    timestamp: action.timestamp\n  }\n}));"
      },
      "id": "wf2-05",
      "name": "Split to Activity Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "12jrapE2Qnmvb9DbVDnLVuAwnzgQOUnWEq9ESrOhXcdQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Activity Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "wf2-06",
      "name": "Append to Activity Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1100,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "wf2-07",
      "name": "Collect Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const computedData = $('Compute Day Actions').first().json;\nreturn [{ json: { day: computedData.day, actions: computedData.actions, leadUpdates: computedData.leadUpdates } }];"
      },
      "id": "wf2-08",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ day: $json.day, actions: $json.actions, leadUpdates: $json.leadUpdates }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "wf2-09",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1820,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Secret": {
      "main": [
        [
          {
            "node": "Compute Day Actions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject 401",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Day Actions": {
      "main": [
        [
          {
            "node": "Split to Activity Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split to Activity Rows": {
      "main": [
        [
          {
            "node": "Append to Activity Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Activity Log": {
      "main": [
        [
          {
            "node": "Collect Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Results": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {},
  "versionId": "wf2-closeit-v1"
}