n8n-workflows/WF2-next-day-v2.json
{
  "name": "WF2 — Next Day Engine v2 (AI)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "closeit/next-day",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wf2v2-01",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        120,
        300
      ],
      "webhookId": "closeit-next-day-v2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "secret-check",
              "leftValue": "={{ $json.headers['x-webhook-secret'] }}",
              "rightValue": "closeit_secret_2026",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "wf2v2-02",
      "name": "Validate Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        340,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"unauthorized\" }",
        "options": {
          "responseCode": 401
        }
      },
      "id": "wf2v2-03",
      "name": "Reject",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        560,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst day = body.day ?? 1;\nconst closeItEnabled = body.closeItEnabled !== false;\nconst leads = body.leads ?? [];\nconst threads = body.threads ?? {};\n\nconst existingNames = leads.map(l => l.name.toLowerCase());\nconst existingEmails = leads.map(l => l.email.toLowerCase());\nconst existingCompanies = leads.map(l => (l.company ?? '').toLowerCase());\n\nconst ACTIVE_STATUSES = ['Contacted', 'Awaiting Reply', 'Replied', 'Discovery Booked'];\nconst activeLeads = leads.filter(l => ACTIVE_STATUSES.includes(l.status));\n\n// Random reply selection — probability by intent, no cadence gate\n// Lead only replies if last message in thread is NOT from lead (it's their turn)\nconst replyingLeads = activeLeads.filter(lead => {\n  if (lead.status === 'Discovery Booked') return false;\n  const thread = threads[lead.id] ?? [];\n  if (thread.length === 0) return false;\n  const lastMsg = thread[thread.length - 1];\n  if (lastMsg.from === 'lead') return false; // already replied, waiting for user/agent\n  const prob = lead.intentSignal === 'high' ? 0.70 : lead.intentSignal === 'medium' ? 0.40 : 0.15;\n  return Math.random() < prob;\n});\n\n// BUCKET A: Pre-discovery follow-ups (status=Contacted, lead hasn't replied at all)\nconst preDiscoveryFollowUps = closeItEnabled ? leads.filter(lead => {\n  if (lead.status !== 'Contacted') return false;\n  if ((lead.agentFollowUpCount ?? 0) >= 4) return false;\n  const lastFU = lead.lastAgentFollowUpDay ?? lead.registeredOnDay;\n  return (day - lastFU) >= 2;\n}) : [];\n\n// BUCKET B: Post-user-reply nudges (user replied, lead hasn't responded)\nconst postUserReplyNudges = closeItEnabled ? leads.filter(lead => {\n  if (lead.status !== 'Awaiting Reply') return false;\n  if (lead.lastUserReplyDay === null) return false;\n  if ((lead.agentNudgeCount ?? 0) >= 4) return false;\n  const lastNudge = lead.lastAgentNudgeDay ?? lead.lastUserReplyDay;\n  return (day - lastNudge) >= 2;\n}) : [];\n\n// Post-MoM: discovery booked, last thread msg from lead (user hasn't replied)\nconst momNudgeLeads = leads.filter(lead => {\n  if (lead.status !== 'Discovery Booked') return false;\n  const thread = threads[lead.id] ?? [];\n  const lastMsg = thread[thread.length - 1];\n  return lastMsg && lastMsg.from === 'lead';\n});\n\nreturn [{ json: { day, closeItEnabled, leads, threads, existingNames, existingEmails, existingCompanies, activeLeads, replyingLeads, preDiscoveryFollowUps, postUserReplyNudges, momNudgeLeads } }];"
      },
      "id": "wf2v2-04",
      "name": "Parse State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        300
      ]
    },
    {
      "id": "wf2v2-05a",
      "name": "Prep Generate Leads Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        300
      ],
      "parameters": {
        "jsCode": "const state = $('Parse State').first().json;\nconst existingNames = (state.existingNames ?? []).join(', ');\nconst count = Math.floor(Math.random() * 4) + 2;\n\nconst userContent = `Generate ${count} unique B2B leads. Each object must have:\\n- name: full name (realistic, diverse)\\n- company: company name\\n- industry: one of [Sales Consulting, SaaS/Analytics, E-commerce, Legal Services, Manufacturing, Health Tech, Digital Marketing, Fintech, Real Estate, HR Tech]\\n- email: professional email\\n- startType: \"cold\" (70%) or \"warm\" (30%)\\n- intentSignal: \"high\" (30%), \"medium\" (40%), or \"low\" (30%)\\n- replyFrequencyDays: integer 2-6\\n- inboundMessage: if warm, a realistic first message to CloseIt (an AI CRM automation platform). If cold, null.\\n\\nExclude these existing names: ${existingNames}\\n\\nReturn ONLY the JSON array.`;\n\nconst body = JSON.stringify({\n  model: \"gpt-4o-mini\",\n  temperature: 0.9,\n  max_tokens: 1200,\n  messages: [\n    { role: \"system\", content: \"You generate realistic B2B leads for a CRM automation demo. Return ONLY a valid JSON array, no markdown, no explanation.\" },\n    { role: \"user\", content: userContent }\n  ]\n});\n\nreturn [{ json: { body } }];"
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "raw",
        "options": {},
        "rawContentType": "application/json",
        "rawBody": "={{ $json.body }}"
      },
      "id": "wf2v2-05",
      "name": "OpenAI: Generate Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "openai-header-auth",
          "name": "OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const state = $('Parse State').first().json;\nconst day = state.day;\nconst existingNames = state.existingNames ?? [];\nconst existingEmails = state.existingEmails ?? [];\nconst existingCompanies = state.existingCompanies ?? [];\n\nconst raw = $input.first().json.choices?.[0]?.message?.content ?? '[]';\nlet generated = [];\ntry {\n  const cleaned = raw.replace(/```json|```/g, '').trim();\n  const parsed = JSON.parse(cleaned);\n  generated = Array.isArray(parsed) ? parsed : [];\n} catch { generated = []; }\n\nconst newLeads = generated\n  .filter(l => {\n    if (!l.name) return false;\n    if (existingNames.includes(l.name.toLowerCase())) return false;\n    if (existingEmails.includes((l.email ?? '').toLowerCase())) return false;\n    if (l.company && existingCompanies.includes(l.company.toLowerCase())) return false;\n    return true;\n  })\n  .map((l, i) => ({\n    id: `n8n_lead_d${day}_${i}`,\n    name: l.name,\n    company: l.company ?? 'Unknown Co',\n    industry: l.industry ?? 'General',\n    email: l.email ?? `${l.name.toLowerCase().replace(/\\s+/g,'.')}@${(l.company ?? 'co').toLowerCase().replace(/[^a-z]/g,'')}.com`,\n    startType: l.startType ?? 'cold',\n    intentSignal: l.intentSignal ?? 'medium',\n    replyFrequencyDays: Number(l.replyFrequencyDays) || 3,\n    inboundMessage: l.inboundMessage ?? null,\n    score: 6, scoreDelta: 0, status: 'New',\n    registeredOnDay: day,\n    lastReplyDay: null, lastUserReplyDay: null,\n    discoveryCallDay: null,\n    agentFollowUpCount: 0, lastAgentFollowUpDay: null,\n    agentNudgeCount: 0, lastAgentNudgeDay: null\n  }));\n\nreturn [{ json: { newLeads, day } }];"
      },
      "id": "wf2v2-06",
      "name": "Process New Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ]
    },
    {
      "id": "wf2v2-07a",
      "name": "Prep Lead Replies Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        480
      ],
      "parameters": {
        "jsCode": "const state = $('Parse State').first().json;\nconst replyingLeads = state.replyingLeads ?? [];\nconst threads = state.threads ?? {};\n\n// If no leads are replying today, return a minimal no-op body\nif (replyingLeads.length === 0) {\n  return [{ json: { body: JSON.stringify({ model: 'gpt-4o-mini', max_tokens: 10, messages: [{ role: 'user', content: 'Reply with empty JSON array: []' }] }) } }];\n}\n\nconst leadsPayload = replyingLeads.map(l => ({\n  id: l.id,\n  name: l.name,\n  company: l.company,\n  industry: l.industry,\n  intentSignal: l.intentSignal,\n  thread: (threads[l.id] ?? []).map(m => `[${m.from.toUpperCase()}] ${m.body}`).join('\\n\\n')\n}));\n\nconst body = JSON.stringify({\n  model: \"gpt-4o-mini\",\n  temperature: 0.85,\n  max_tokens: 2000,\n  messages: [\n    { role: \"system\", content: \"You simulate realistic B2B lead email replies for a CRM demo. Be natural, concise (under 80 words each). Return ONLY valid JSON array, no markdown.\" },\n    { role: \"user\", content: `Generate the next email reply for each lead based on their thread and intentSignal level.\\n\\nLeads:\\n${JSON.stringify(leadsPayload)}\\n\\nReturn JSON array: [{ \"leadId\": \"...\", \"replyText\": \"...\", \"containsBookingSignal\": true/false }]` }\n  ]\n});\n\nreturn [{ json: { body } }];"
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "raw",
        "options": {},
        "rawContentType": "application/json",
        "rawBody": "={{ $json.body }}"
      },
      "id": "wf2v2-07",
      "name": "OpenAI: Generate Lead Replies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        480
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "openai-header-auth",
          "name": "OpenAI API Key"
        }
      }
    },
    {
      "id": "wf2v2-08a",
      "name": "Prep Follow-ups Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        660
      ],
      "parameters": {
        "jsCode": "const state = $('Parse State').first().json;\nconst preDiscovery = state.preDiscoveryFollowUps ?? [];\nconst postUserReply = state.postUserReplyNudges ?? [];\nconst threads = state.threads ?? {};\n\n// If nothing to follow up on, return a no-op\nif (preDiscovery.length === 0 && postUserReply.length === 0) {\n  return [{ json: { body: JSON.stringify({ model: 'gpt-4o-mini', max_tokens: 10, messages: [{ role: 'user', content: 'Reply with empty JSON array: []' }] }) } }];\n}\n\nconst prePayload = preDiscovery.map(l => ({\n  id: l.id, type: 'pre_discovery', name: l.name, company: l.company, industry: l.industry,\n  followUpNum: (l.agentFollowUpCount ?? 0) + 1,\n  thread: (threads[l.id] ?? []).map(m => `[${m.from.toUpperCase()}] ${m.body}`).join('\\n\\n')\n}));\n\nconst postPayload = postUserReply.map(l => ({\n  id: l.id, type: 'post_user_reply', name: l.name, company: l.company, industry: l.industry,\n  nudgeNum: (l.agentNudgeCount ?? 0) + 1,\n  thread: (threads[l.id] ?? []).map(m => `[${m.from.toUpperCase()}] ${m.body}`).join('\\n\\n')\n}));\n\nconst body = JSON.stringify({\n  model: \"gpt-4o-mini\", temperature: 0.8, max_tokens: 2500,\n  messages: [\n    { role: \"system\", content: \"You are CloseIt, an AI CRM assistant. PRE-DISCOVERY: nudge leads to book a 20-min discovery call. POST-USER-REPLY: nudge leads to reply to the user's message. Under 80 words. Return ONLY valid JSON array, no markdown.\" },\n    { role: \"user\", content: `PRE-DISCOVERY leads:\\n${JSON.stringify(prePayload)}\\n\\nPOST-USER-REPLY leads:\\n${JSON.stringify(postPayload)}\\n\\nReturn JSON array: [{ \"leadId\": \"...\", \"type\": \"pre_discovery\" or \"post_user_reply\", \"emailBody\": \"...\" }]` }\n  ]\n});\n\nreturn [{ json: { body } }];"
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "raw",
        "options": {},
        "rawContentType": "application/json",
        "rawBody": "={{ $json.body }}"
      },
      "id": "wf2v2-08",
      "name": "OpenAI: Generate Follow-ups & Nudges",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        660
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "openai-header-auth",
          "name": "OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const state = $('Parse State').first().json;\nconst { day, leads, threads, replyingLeads, preDiscoveryFollowUps, postUserReplyNudges, momNudgeLeads } = state;\n\nfunction safeContent(nodeName) {\n  try {\n    const items = $(nodeName).all();\n    return items.length > 0 ? (items[0].json?.choices?.[0]?.message?.content ?? '[]') : '[]';\n  } catch (_) { return '[]'; }\n}\n\nfunction safeParse(raw) {\n  try {\n    const cleaned = raw.replace(/```json|```/g, '').trim();\n    const result = JSON.parse(cleaned);\n    return Array.isArray(result) ? result : [];\n  } catch (_) { return []; }\n}\n\nconst replies = safeParse(safeContent('OpenAI: Generate Lead Replies'));\nconst followUpEmails = safeParse(safeContent('OpenAI: Generate Follow-ups & Nudges'));\n\nlet newLeads = [];\ntry {\n  const items = $('Process New Leads').all();\n  newLeads = items.length > 0 ? (items[0].json?.newLeads ?? []) : [];\n} catch (_) { newLeads = []; }\n\nconst threadMessages = [], statusUpdates = [], agentActions = [], notifications = [], tasks = [], leadUpdates = [];\n\n// 1. New lead arrivals\nfor (const l of newLeads) {\n  notifications.push({ type: 'lead_arrived', message: `New lead: ${l.name} from ${l.company} (${l.startType === 'warm' ? 'warm inbound' : 'cold outreach'})` });\n  if (l.startType === 'warm' && l.inboundMessage) {\n    threadMessages.push({ leadId: l.id, from: 'lead', body: l.inboundMessage, day });\n    statusUpdates.push({ leadId: l.id, status: 'Replied' });\n  }\n}\n\n// 2. AI-simulated lead replies\nfor (const [idx, r] of replies.entries()) {\n  // Exact ID match first; fall back to positional (GPT sometimes modifies the leadId string)\n  let lead = (replyingLeads ?? []).find(l => l.id === r.leadId);\n  if (!lead && idx < (replyingLeads ?? []).length) lead = (replyingLeads ?? [])[idx];\n  if (!lead || !r.replyText) continue;\n  const leadId = lead.id; // always use canonical ID, never trust GPT's r.leadId\n  threadMessages.push({ leadId, from: 'lead', body: r.replyText, day });\n  if (r.containsBookingSignal && lead.status !== 'Discovery Booked') {\n    const callDay = day + 1;\n    statusUpdates.push({ leadId, status: 'Discovery Booked', discoveryCallDay: callDay });\n    agentActions.push({ id: `act_${day}_disc_${leadId}`, day, type: 'discovery_call_booked', leadId, leadName: lead.name, summary: `Discovery call booked with ${lead.name} (${lead.company}) — Day ${callDay}`, actor: 'ai', detail: { callDay }, timestamp: new Date().toISOString() });\n    tasks.push({ leadId, leadName: lead.name, company: lead.company, callDay });\n    notifications.push({ type: 'call_booked', message: `Discovery call booked with ${lead.name} (${lead.company})` });\n  } else {\n    statusUpdates.push({ leadId, status: 'Replied' });\n  }\n  agentActions.push({ id: `act_${day}_reply_${leadId}`, day, type: 'lead_replied', leadId, leadName: lead.name, summary: `${lead.name} replied`, actor: 'lead', detail: { body: r.replyText }, timestamp: new Date().toISOString() });\n}\n\n// 3a. Pre-discovery follow-ups\nconst preDiscEmails = followUpEmails.filter(f => f.type === 'pre_discovery');\nfor (const [idx, fu] of preDiscEmails.entries()) {\n  let lead = (preDiscoveryFollowUps ?? []).find(l => l.id === fu.leadId);\n  if (!lead && idx < (preDiscoveryFollowUps ?? []).length) lead = (preDiscoveryFollowUps ?? [])[idx];\n  if (!lead || !fu.emailBody) continue;\n  threadMessages.push({ leadId: fu.leadId, from: 'agent', body: fu.emailBody, day });\n  agentActions.push({ id: `act_${day}_fu_${fu.leadId}`, day, type: 'initial_email_sent', leadId: fu.leadId, leadName: lead.name, summary: `Pre-discovery follow-up #${(lead.agentFollowUpCount ?? 0)+1} sent to ${lead.name}`, actor: 'ai', detail: { body: fu.emailBody, followUpNum: (lead.agentFollowUpCount ?? 0)+1, type: 'pre_discovery' }, timestamp: new Date().toISOString() });\n  leadUpdates.push({ leadId: fu.leadId, agentFollowUpCount: (lead.agentFollowUpCount ?? 0) + 1, lastAgentFollowUpDay: day });\n  statusUpdates.push({ leadId: fu.leadId, status: 'Awaiting Reply' });\n}\n\n// 3b. Post-user-reply nudges\nconst postReplyEmails = followUpEmails.filter(f => f.type === 'post_user_reply');\nfor (const [idx, fu] of postReplyEmails.entries()) {\n  let lead = (postUserReplyNudges ?? []).find(l => l.id === fu.leadId);\n  if (!lead && idx < (postUserReplyNudges ?? []).length) lead = (postUserReplyNudges ?? [])[idx];\n  if (!lead || !fu.emailBody) continue;\n  threadMessages.push({ leadId: fu.leadId, from: 'agent', body: fu.emailBody, day });\n  agentActions.push({ id: `act_${day}_nudge_${fu.leadId}`, day, type: 'initial_email_sent', leadId: fu.leadId, leadName: lead.name, summary: `Nudge #${(lead.agentNudgeCount ?? 0)+1}: reminded ${lead.name} to reply to your message`, actor: 'ai', detail: { body: fu.emailBody, nudgeNum: (lead.agentNudgeCount ?? 0)+1, type: 'post_user_reply' }, timestamp: new Date().toISOString() });\n  leadUpdates.push({ leadId: fu.leadId, agentNudgeCount: (lead.agentNudgeCount ?? 0) + 1, lastAgentNudgeDay: day });\n}\n\n// 4. Post-MoM nudge to user\nfor (const lead of (momNudgeLeads ?? [])) {\n  notifications.push({ type: 'lead_arrived', message: `Action needed: ${lead.name} replied after your discovery call — your response is due` });\n}\n\n// 5. Score all leads\nconst POS = ['interested','sounds good',\"let's\",'schedule','book','call','demo','yes','definitely','great','perfect','keen','forward','available','when can','happy to'];\nconst NEG = ['not interested','no thanks','unsubscribe','remove','stop','busy','later','maybe next','not right now'];\nconst scoreUpdates = [...(leads ?? []), ...newLeads]\n  .filter(l => !['Closed Won','Closed Lost','Nurture'].includes(l.status))\n  .map(lead => {\n    const thread = (threads ?? {})[lead.id] ?? [];\n    const leadMsgs = thread.filter(m => m.from === 'lead');\n    const lastLeadMsg = leadMsgs[leadMsgs.length - 1];\n    const allText = leadMsgs.map(m => m.body.toLowerCase()).join(' ');\n    const posHits = POS.filter(k => allText.includes(k)).length;\n    const negHits = NEG.filter(k => allText.includes(k)).length;\n    const intentScore = Math.min(4, Math.max(0, posHits - negHits * 2));\n    const daysSince = lastLeadMsg ? (day - lastLeadMsg.day) : day;\n    const recencyPenalty = Math.max(-3, -Math.floor(daysSince / lead.replyFrequencyDays));\n    const replyCount = leadMsgs.length;\n    const expectedReplies = Math.max(1, Math.floor(day / lead.replyFrequencyDays));\n    const freqBonus = replyCount >= expectedReplies ? Math.min(2, replyCount - expectedReplies + 1) : 0;\n    const callBonus = lead.status === 'Discovery Booked' ? 2 : 0;\n    const newScore = Math.min(10, Math.max(0, 6 + intentScore + recencyPenalty + freqBonus + callBonus));\n    const delta = newScore - (lead.score ?? 6);\n    if (newScore < 4 && (lead.score ?? 6) >= 4) notifications.push({ type: 'score_critical', message: `${lead.name}'s score dropped to ${newScore} — needs attention` });\n    return { leadId: lead.id, score: newScore, delta };\n  });\n\nreturn [{ json: { newLeads, threadMessages, scoreUpdates, statusUpdates, leadUpdates, agentActions, notifications, tasks } }];"
      },
      "id": "wf2v2-09",
      "name": "Assemble Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const newLeads = $('Assemble Response').first().json.newLeads ?? [];\n\nconst leadsPayload = newLeads.map(l => ({\n  id: l.id,\n  name: l.name,\n  company: l.company,\n  industry: l.industry,\n  startType: l.startType,\n  inboundMessage: l.inboundMessage ?? null\n}));\n\nconst userContent = `Write initial contact emails for these leads. Cold leads: introduce CloseIt (an AI CRM automation platform), mention their specific industry, ask one hook question. Warm leads: acknowledge their inbound message and ask 4 discovery questions (budget, timeline, current tooling, main pain point).\\n\\nLeads:\\n${JSON.stringify(leadsPayload)}\\n\\nReturn a JSON array: [{ \"leadId\": \"...\", \"emailBody\": \"...\" }]`;\n\nconst body = JSON.stringify({\n  model: \"gpt-4o-mini\",\n  temperature: 0.85,\n  max_tokens: 2500,\n  messages: [\n    {\n      role: \"system\",\n      content: \"You are CloseIt, an AI CRM automation platform. Write the first outreach email to new B2B leads. Sound like a knowledgeable human — not a bot. Emails under 80 words. Return ONLY a valid JSON array, no markdown, no explanation.\"\n    },\n    {\n      role: \"user\",\n      content: userContent\n    }\n  ]\n});\n\nreturn [{ json: { body, newLeads } }];"
      },
      "id": "wf2v2-10a",
      "name": "Prep Initial Email Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "raw",
        "options": {},
        "rawContentType": "application/json",
        "rawBody": "={{ $json.body }}"
      },
      "id": "wf2v2-10",
      "name": "OpenAI: Initial Emails",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1660,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "openai-header-auth",
          "name": "OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const assembled = $('Assemble Response').first().json;\nconst day = $('Parse State').first().json.day;\n\nlet initialEmails = [];\ntry {\n  const raw = $('OpenAI: Initial Emails').first().json.choices?.[0]?.message?.content ?? '[]';\n  const parsed = JSON.parse(raw.replace(/```json|```/g,'').trim());\n  initialEmails = Array.isArray(parsed) ? parsed : [];\n} catch (_) { initialEmails = []; }\n\nconst extraMessages = [];\nconst extraActions = [];\nconst extraStatusUpdates = [];\n\nfor (const ie of initialEmails) {\n  const lead = (assembled.newLeads ?? []).find(l => l.id === ie.leadId);\n  if (!lead || !ie.emailBody) continue;\n\n  extraMessages.push({ leadId: ie.leadId, from: 'agent', body: ie.emailBody, day });\n\n  // Warm leads already have status='Replied' from their inbound message — don't downgrade to 'Contacted'\n  if (lead.startType !== 'warm') {\n    extraStatusUpdates.push({ leadId: ie.leadId, status: 'Contacted' });\n  }\n\n  extraActions.push({\n    id: `act_${day}_init_${ie.leadId}`,\n    day,\n    type: 'initial_email_sent',\n    leadId: ie.leadId,\n    leadName: lead.name,\n    summary: `Initial ${lead.startType === 'warm' ? 'warm response' : 'cold outreach'} sent to ${lead.name} (${lead.company})`,\n    actor: 'ai',\n    detail: { body: ie.emailBody, startType: lead.startType },\n    timestamp: new Date().toISOString()\n  });\n}\n\nconst finalResult = {\n  newLeads: assembled.newLeads ?? [],\n  threadMessages: [...(assembled.threadMessages ?? []), ...extraMessages],\n  scoreUpdates: assembled.scoreUpdates ?? [],\n  statusUpdates: [...(assembled.statusUpdates ?? []), ...extraStatusUpdates],\n  leadUpdates: assembled.leadUpdates ?? [],\n  agentActions: [...(assembled.agentActions ?? []), ...extraActions],\n  notifications: assembled.notifications ?? [],\n  tasks: assembled.tasks ?? []\n};\n\nreturn [{ json: finalResult }];"
      },
      "id": "wf2v2-11",
      "name": "Merge Initial Emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "12jrapE2Qnmvb9DbVDnLVuAwnzgQOUnWEq9ESrOhXcdQ"
        },
        "sheetName": {
          "mode": "name",
          "value": "Activity Log"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "wf2v2-12",
      "name": "Log to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1880,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare flat rows for Activity Log\nconst result = $('Merge Initial Emails').first().json;\nconst day = $('Parse State').first().json.day;\nconst rows = [];\n\nfor (const msg of result.threadMessages ?? []) {\n  rows.push({ day, leadId: msg.leadId, action_type: `message_${msg.from}`, actor: msg.from, summary: msg.body.substring(0,100), detail_json: JSON.stringify(msg), timestamp: new Date().toISOString() });\n}\nfor (const a of result.agentActions ?? []) {\n  rows.push({ day, leadId: a.leadId, action_type: a.type, actor: a.actor, summary: a.summary, detail_json: JSON.stringify(a.detail), timestamp: a.timestamp });\n}\n\nreturn rows.length ? rows.map(r => ({ json: r })) : [{ json: { day, action_type: 'no_op', actor: 'system', summary: 'No actions this day', timestamp: new Date().toISOString() } }];"
      },
      "id": "wf2v2-13",
      "name": "Prep Log Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1880,
        480
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "12jrapE2Qnmvb9DbVDnLVuAwnzgQOUnWEq9ESrOhXcdQ"
        },
        "sheetName": {
          "mode": "name",
          "value": "Activity Log"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "wf2v2-14",
      "name": "Write Activity Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2100,
        480
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('Merge Initial Emails').first().json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "wf2v2-15",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2100,
        300
      ]
    },
    {
      "parameters": {},
      "id": "wf2v2-16",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        120,
        600
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "12jrapE2Qnmvb9DbVDnLVuAwnzgQOUnWEq9ESrOhXcdQ"
        },
        "sheetName": {
          "mode": "name",
          "value": "Error Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow": "WF2-next-day-v2",
            "node": "={{ $json.execution.lastNodeExecuted }}",
            "error_message": "={{ $json.error.message }}",
            "day": "={{ $now.toISO() }}",
            "timestamp": "={{ $now.toISO() }}",
            "resolved": "false"
          }
        },
        "options": {}
      },
      "id": "wf2v2-17",
      "name": "Log Error",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        340,
        600
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Secret": {
      "main": [
        [
          {
            "node": "Parse State",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse State": {
      "main": [
        [
          {
            "node": "Prep Generate Leads Body",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prep Lead Replies Body",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prep Follow-ups Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Generate Leads": {
      "main": [
        [
          {
            "node": "Process New Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process New Leads": {
      "main": [
        [
          {
            "node": "Assemble Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Generate Lead Replies": {
      "main": [
        [
          {
            "node": "Assemble Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Generate Follow-ups & Nudges": {
      "main": [
        [
          {
            "node": "Assemble Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Response": {
      "main": [
        [
          {
            "node": "Prep Initial Email Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Initial Emails": {
      "main": [
        [
          {
            "node": "Merge Initial Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Initial Emails": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prep Log Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Log Rows": {
      "main": [
        [
          {
            "node": "Write Activity Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Initial Email Body": {
      "main": [
        [
          {
            "node": "OpenAI: Initial Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Generate Leads Body": {
      "main": [
        [
          {
            "node": "OpenAI: Generate Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Lead Replies Body": {
      "main": [
        [
          {
            "node": "OpenAI: Generate Lead Replies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Follow-ups Body": {
      "main": [
        [
          {
            "node": "OpenAI: Generate Follow-ups & Nudges",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    "closeit",
    "demo"
  ],
  "pinData": {}
}