n8n-workflows/WF2-next-day.json
{
  "name": "WF2 — Next Day Engine",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "closeit/next-day",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wf2-01",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        180,
        300
      ],
      "webhookId": "closeit-next-day"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-secret",
              "leftValue": "={{ $json.headers['x-webhook-secret'] }}",
              "rightValue": "closeit_secret_2026",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf2-02",
      "name": "Check Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"Unauthorized\" }",
        "options": {
          "responseCode": 401
        }
      },
      "id": "wf2-03",
      "name": "Reject 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        620,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst { day, leads, config } = raw.body ?? raw;\nconst freq = config.reminders.frequencyDays;\nconst maxR = config.reminders.maxReminders;\nlet idCounter = Date.now();\nfunction uid() { return 'a' + idCounter++; }\nfunction ts() { return new Date().toISOString(); }\n\n// --- Scoring ---\nfunction budgetScore(b) { return b > 2000 ? 10 : b >= 500 ? 6 : 3; }\nfunction intentScore(s) { return s === 'high' ? 9 : s === 'medium' ? 6 : 3; }\nfunction timelineScore(d) { return d <= 7 ? 10 : d <= 21 ? 6 : 3; }\nfunction computeScore(lead) {\n  const bs = budgetScore(lead.formInputs.budget);\n  const is = intentScore(lead.intentSignal);\n  const tss = timelineScore(lead.formInputs.timelineDays);\n  const { budgetWeight, intentWeight, timelineWeight } = config.scoring;\n  const score = Math.round((bs * budgetWeight + is * intentWeight + tss * timelineWeight) / 100);\n  const classification = score >= 7 ? 'Hot' : score >= 4 ? 'Warm' : 'Cold';\n  return { score, classification, rationale: 'Budget ' + bs + '/10, Intent ' + is + '/10, Timeline ' + tss + '/10' };\n}\n\n// --- Seeded randomness ---\nfunction seeded(leadId, salt) {\n  const str = leadId + salt;\n  let hash = 0;\n  for (const c of str) hash = ((hash << 5) - hash) + c.charCodeAt(0);\n  return (Math.abs(hash) % 10000) / 10000;\n}\nfunction pick(arr, leadId, salt) {\n  return arr[Math.floor(seeded(leadId, salt) * arr.length)];\n}\n\n// --- Project description fallback ---\nconst DESC_FALLBACKS = [\n  'Streamlining internal approval workflows for mid-market finance teams.',\n  'An AI-powered support ticket triage system that routes issues to the right team.',\n  'Automating lead qualification and follow-up for a B2B outbound sales motion.',\n  'A document intelligence layer for contract review and compliance flagging.',\n  'Real-time inventory sync and demand forecasting for e-commerce operators.',\n  'Employee onboarding automation connecting HRMS, IT provisioning, and L&D.',\n  'API-first payment orchestration handling retries and reconciliation.',\n  'Compliance monitoring and reporting for regulated financial services firms.',\n];\nfunction resolveDesc(lead) {\n  return (lead.projectDescription && lead.projectDescription.trim()) || pick(DESC_FALLBACKS, lead.id, 'projdesc');\n}\n\n// --- Humanised content ---\nconst POS_REPLIES = [\n  (n, rep, proj) => 'Hi ' + rep.split(' ')[0] + ', thanks for reaching out. We've been evaluating options for ' + proj + ' and your approach looks promising. What's the typical onboarding timeline, and do you support custom integrations?\n\n— ' + n,\n  (n, rep, proj) => 'Hey ' + rep.split(' ')[0] + ' — good timing. We're mid-sprint on ' + proj + ' and this could be exactly what we need. Can you send over case studies from similar use cases? I'd like to share with my team before we book anything.\n\n— ' + n,\n  (n, rep, proj) => 'Hi ' + rep.split(' ')[0] + ', ' + n.split(' ')[0] + ' here. We've looked at a few vendors for ' + proj + ' and the gap has always been around flexibility and speed of setup. Can we do a quick 20-min intro call this week?\n\n— ' + n,\n  (n, rep, proj) => 'Hi! ' + proj + ' is on our roadmap this quarter. Your email caught my eye — especially the AI angle. Can you share technical docs? Our CTO will want to see the architecture.\n\n— ' + n,\n  (n, rep, proj) => 'Hey — sorry for the slow reply. ' + proj + ' is a priority but we've been burned by vendors who overpromised. What does a pilot look like and how quickly can we see results?\n\n— ' + n,\n];\nconst NEG_REPLIES = [\n  (n) => 'Hi, thanks for the email. We're heads-down on a product launch this quarter and can't take on vendor evaluations right now. Follow up in 3 months.\n\n— ' + n,\n  (n) => 'Appreciate the outreach. We went with another provider last month. Not looking to switch right now.\n\n— ' + n,\n  (n) => 'Thanks for reaching out. We've decided to build this in-house for now. Will be in touch if that changes.\n\n— ' + n,\n];\nconst STAFF_FOLLOWUPS = [\n  (n, rep, proj) => 'Hi ' + n.split(' ')[0] + ',\n\nThanks so much for getting back to us! To answer your questions on ' + proj + ': most teams are fully onboarded within 10–14 days. Our implementation team handles the heavy lifting.\n\nI'd love to show you a quick demo tailored to your use case. I have slots open tomorrow — does morning or afternoon work?\n\n' + rep,\n  (n, rep, proj) => 'Hey ' + n.split(' ')[0] + ',\n\nGreat to hear from you! I pulled together case studies from teams who've tackled similar challenges in ' + proj + '. We typically see a 60–70% reduction in manual follow-up time within the first month.\n\nGot 20 minutes this week for a live walkthrough?\n\n' + rep,\n  (n, rep, proj) => 'Hi ' + n.split(' ')[0] + ',\n\nThank you for the kind response! Based on what you've shared about ' + proj + ', I think there's a strong fit. I've also looped in our solutions engineer if you want to get your CTO involved early.\n\nCalendar link below.\n\n' + rep,\n  (n, rep, proj) => 'Hi ' + n.split(' ')[0] + ',\n\nReally glad this landed at the right time for ' + proj + '. The biggest wins typically come in the first 3 weeks once automation is live.\n\nCan we do a 30-min discovery call? I'll come prepared.\n\n' + rep,\n];\nconst NUDGE_DRAFTS = [\n  (n, rep, proj) => 'Hi ' + n.split(' ')[0] + ',\n\nApologies for the delay — things got hectic on our end. ' + proj + ' is exactly the kind of challenge we're built for and I don't want us to lose momentum. Would you still be open to a quick call?\n\n' + rep,\n  (n, rep, proj) => 'Hey ' + n.split(' ')[0] + ',\n\nSorry for going quiet after your reply — that's on me. Your note on ' + proj + ' stood out and I think there's a real fit. Would a 15-minute call work this week?\n\n' + rep,\n  (n, rep, proj) => 'Hi ' + n.split(' ')[0] + ',\n\nCircling back to make sure your query on ' + proj + ' didn't fall through the cracks. Happy to answer questions over email too if a call isn't convenient.\n\n' + rep,\n];\nconst FU1 = [\n  (n, rep, proj) => 'Hi ' + n.split(' ')[0] + ',\n\nJust checking in — wanted to make sure my earlier note didn't get buried. We've been working with teams on ' + proj + ' challenges very similar to yours.\n\nWould a quick 15-minute call make sense this week?\n\n' + rep + '\nvia CloseIt AI',\n  (n, rep, proj) => 'Hey ' + n.split(' ')[0] + ',\n\nFollowing up on my note from a few days back. If ' + proj + ' is still on the radar, I'd love to reconnect.\n\n' + rep + '\nvia CloseIt AI',\n  (n, rep, proj) => 'Hi ' + n.split(' ')[0] + ',\n\nHoping this finds you well. Following up on ' + proj + ' — we've had a few teams in similar situations recently. Happy to share specifics.\n\n' + rep + '\nvia CloseIt AI',\n];\nconst FU2 = [\n  (n, rep, proj) => 'Hi ' + n.split(' ')[0] + ',\n\nThis will be my last note for now. If the timing for ' + proj + ' changes, just reply here and we'll pick up right where we left off.\n\n' + rep + '\nvia CloseIt AI',\n  (n, rep, proj) => 'Hey ' + n.split(' ')[0] + ',\n\nLeaving the ball in your court from here. If ' + proj + ' becomes a priority, I'm easy to reach.\n\n' + rep + '\nvia CloseIt AI',\n];\n\nfunction generateMoM(lead, rep, day) {\n  const proj = lead.projectName;\n  const desc = resolveDesc(lead);\n  const first = lead.name.split(' ')[0];\n  const repFirst = rep.split(' ')[0];\n  const pains = ['manual handoffs between teams causing delays and lost context','lack of pipeline visibility until it was too late to act','inconsistent follow-up leading to leads going cold','too much time spent on tasks that should be automated'];\n  const features = ['the AI-powered lead scoring and automated nudge system','the context-aware follow-up agent that knows when to escalate vs. wait','the real-time activity feed and CRM audit trail','the ability to configure cadence and scoring weights without touching code'];\n  const pain = pick(pains, lead.id, 'pain');\n  const feature = pick(features, lead.id, 'feature');\n  return 'DISCOVERY CALL — MINUTES OF MEETING\n\nDate: Day ' + day + '  |  Duration: 30 minutes\nAttendees: ' + lead.name + ' (' + (lead.company || 'Prospect') + '), ' + rep + ' (CloseIt)\n\n─────────────────────────────────────────\n\nPROJECT CONTEXT\n' + proj + ': ' + desc + '\n\n─────────────────────────────────────────\n\nDISCUSSION SUMMARY\n\n1. Current State\n   ' + first + ' walked through their existing workflow for ' + proj + '. Primary pain point: ' + pain + '.\n\n2. Product Walkthrough\n   ' + repFirst + ' demonstrated the AI automation suite. ' + first + ' flagged ' + feature + ' as particularly relevant.\n\n3. Technical Fit\n   Integration path mapped. Estimated setup: 10–14 days.\n\n4. Commercial Alignment\n   Budget: $' + lead.formInputs.budget + '. Timeline: ' + lead.formInputs.timelineDays + ' days.\n\n─────────────────────────────────────────\n\nAGREED NEXT STEPS\n\n  ☐  ' + rep + ': Send formal proposal by Day ' + (day + 1) + '\n  ☐  ' + first + ': Share workflow documentation\n  ☐  ' + rep + ': Schedule technical review call for Day ' + (day + 3) + '\n\n─────────────────────────────────────────\n\nOUTCOME\nStrong alignment. Decision expected by Day ' + (day + 5) + '. Sentiment: Positive ✓';\n}\n\n// --- Story arc ---\nfunction getStory(lead) {\n  const willReply = seeded(lead.id, 'willreply') < 0.6;\n  const replyIsPositive = willReply && seeded(lead.id, 'positive') < 0.7;\n  const staffDropsBall = replyIsPositive && seeded(lead.id, 'staffdrop') < 0.4;\n  const replyDay = 2 + Math.floor(seeded(lead.id, 'replyDay') * 3);\n  const staffActionDay = replyDay + 1;\n  const hasMeeting = replyIsPositive && !staffDropsBall && seeded(lead.id, 'meeting') < 0.6;\n  const meetingDay = hasMeeting ? staffActionDay + 1 + Math.floor(seeded(lead.id, 'meetingday') * 2) : null;\n  const closeDay = meetingDay ? meetingDay + 2 : null;\n  return { willReply, replyIsPositive, staffDropsBall, replyDay, staffActionDay, meetingDay, closeDay };\n}\n\n// --- Main loop ---\nconst allActions = [];\nconst leadUpdates = {};\n\nfor (const lead of leads) {\n  const rel = day - lead.registeredOnDay;\n  const actions = [];\n  const updates = {};\n  const story = getStory(lead);\n  const rep = lead.assignedRep;\n  const n = lead.name;\n  const first = n.split(' ')[0];\n  const proj = lead.projectName;\n\n  // Day +1: Onboarding\n  if (rel === 1) {\n    const { score, classification, rationale } = computeScore(lead);\n    updates.score = score; updates.classification = classification;\n    updates.status = 'Contacted'; updates.lastActionDay = day; updates.nextReminderDay = day + freq;\n    const desc = resolveDesc(lead);\n    actions.push({ id: uid(), day, type: 'email_sent', leadId: lead.id, leadName: n, actor: 'system', summary: 'Onboarding email sent to ' + n, detail: { channel: 'Email', from: rep, to: lead.email, subject: proj + ' — let's talk', body: 'Hi ' + first + ',\n\nThanks for reaching out. We saw you're working on ' + proj + ' — ' + desc.split('.')[0].toLowerCase() + '.\n\nWe help teams like yours automate the repetitive parts. I'd love to understand your workflow and show you what that could look like.\n\nWould a 20-minute call this week work?\n\n' + rep }, timestamp: ts() });\n    actions.push({ id: uid(), day, type: 'score_update', leadId: lead.id, leadName: n, actor: 'ai', summary: 'AI scored ' + n + ' — ' + score + '/10 (' + classification + ')', detail: { score, classification, rationale, weights: config.scoring }, timestamp: ts() });\n    actions.push({ id: uid(), day, type: 'rep_assigned', leadId: lead.id, leadName: n, actor: 'system', summary: rep + ' assigned to manage ' + n, detail: { rep, note: classification + ' lead (' + score + '/10). Project: ' + proj }, timestamp: ts() });\n    actions.push({ id: uid(), day, type: 'proposal_sent', leadId: lead.id, leadName: n, actor: 'team', summary: rep + ' sent capability overview to ' + n, detail: { rep, subject: 'Quick overview — ' + proj, body: 'Hi ' + first + ',\n\nFollowing up with a quick overview for ' + proj + ':\n\n• Automated lead capture and AI scoring\n• Contextual follow-up sequences\n• CRM-layer agent that tells your team who to contact and when\n• Full audit trail with zero manual data entry\n\nBudget: $' + lead.formInputs.budget + ' | Timeline: ' + lead.formInputs.timelineDays + ' days — both look very achievable.\n\n' + rep }, timestamp: ts() });\n  }\n\n  // Lead replies\n  const alreadyEngaged = ['Replied','Meeting Scheduled','Closed Won','Closed Lost','Nurture'].includes(lead.status);\n  if (story.willReply && rel === story.replyDay && !alreadyEngaged) {\n    if (story.replyIsPositive) {\n      const msgFn = pick(POS_REPLIES, lead.id, 'posreply');\n      actions.push({ id: uid(), day, type: 'reply_received', leadId: lead.id, leadName: n, actor: 'customer', summary: n + ' replied — interested in ' + proj, detail: { from: lead.email, to: rep, body: msgFn(n, rep, proj) }, timestamp: ts() });\n      updates.status = 'Replied'; updates.nextReminderDay = null; updates.lastActionDay = day;\n    } else {\n      const msgFn = pick(NEG_REPLIES, lead.id, 'negreply');\n      actions.push({ id: uid(), day, type: 'reply_received', leadId: lead.id, leadName: n, actor: 'customer', summary: n + ' replied — not the right time', detail: { from: lead.email, to: rep, body: msgFn(n) }, timestamp: ts() });\n      actions.push({ id: uid(), day, type: 'moved_to_nurture', leadId: lead.id, leadName: n, actor: 'system', summary: n + ' moved to Nurture after negative reply', detail: { reason: 'Lead replied with a deferral. Sequence paused.' }, timestamp: ts() });\n      updates.status = 'Nurture'; updates.nextReminderDay = null; updates.lastActionDay = day;\n    }\n  }\n\n  // Staff action day\n  if (story.replyIsPositive && rel === story.staffActionDay && lead.status === 'Replied') {\n    if (story.staffDropsBall) {\n      const draftFn = pick(NUDGE_DRAFTS, lead.id, 'nudgedraft');\n      actions.push({ id: uid(), day, type: 'staff_nudge', leadId: lead.id, leadName: n, actor: 'system', summary: '⚡ Nudge sent to ' + rep + ' — ' + n + ' replied ' + (day - (lead.registeredOnDay + story.replyDay)) + ' day(s) ago, no action logged', detail: { to: rep, reason: n + ' sent a positive reply on Day ' + (lead.registeredOnDay + story.replyDay) + ' but no follow-up has been logged by ' + rep + '.', draftSubject: 'Re: ' + proj + ' — following up on ' + first + ''s reply', draftBody: draftFn(n, rep, proj) }, timestamp: ts() });\n      updates.status = 'Awaiting Reply'; updates.nextReminderDay = day + freq; updates.lastActionDay = day;\n    } else {\n      const msgFn = pick(STAFF_FOLLOWUPS, lead.id, 'staffreply');\n      actions.push({ id: uid(), day, type: 'email_sent', leadId: lead.id, leadName: n, actor: 'team', summary: rep + ' followed up with ' + n, detail: { from: rep, to: lead.email, subject: 'Re: ' + proj + ' — great to hear from you', body: msgFn(n, rep, proj) }, timestamp: ts() });\n      updates.status = 'Awaiting Reply'; updates.nextReminderDay = day + freq; updates.lastActionDay = day;\n    }\n  }\n\n  // Meeting\n  const closedStatuses = ['Closed Won','Closed Lost','Nurture'];\n  if (story.meetingDay && rel === story.meetingDay && !closedStatuses.includes(lead.status)) {\n    actions.push({ id: uid(), day, type: 'reply_received', leadId: lead.id, leadName: n, actor: 'customer', summary: n + ' confirmed the discovery call', detail: { from: lead.email, to: rep, body: 'Hi ' + rep.split(' ')[0] + ', yes — let's do it. Looking forward to the demo.\n\n— ' + first }, timestamp: ts() });\n    actions.push({ id: uid(), day, type: 'meeting_scheduled', leadId: lead.id, leadName: n, actor: 'system', summary: 'Discovery call booked — ' + n + ' × ' + rep, detail: { date: 'Day ' + day, duration: '30 min', rep, lead: n, project: proj }, timestamp: ts() });\n    actions.push({ id: uid(), day, type: 'meeting_minutes', leadId: lead.id, leadName: n, actor: 'team', summary: 'MoM logged — ' + n + ' discovery call', detail: { mom: generateMoM(lead, rep, day) }, timestamp: ts() });\n    updates.status = 'Meeting Scheduled'; updates.nextReminderDay = null; updates.lastActionDay = day;\n  }\n\n  // Close\n  if (story.closeDay && rel === story.closeDay && !closedStatuses.includes(lead.status)) {\n    actions.push({ id: uid(), day, type: 'closed_won', leadId: lead.id, leadName: n, actor: 'team', summary: '🎉 ' + n + ' closed won — ' + proj, detail: { rep, value: '$' + lead.formInputs.budget, note: 'Proposal accepted. Agreement signed. Onboarding starts next week.' }, timestamp: ts() });\n    updates.status = 'Closed Won'; updates.nextReminderDay = null; updates.lastActionDay = day;\n  }\n\n  // Automated follow-ups\n  const engagedStatuses = ['Replied','Meeting Scheduled','Closed Won','Closed Lost','Nurture'];\n  const onSpecialDay = rel === story.replyDay || rel === story.staffActionDay || rel === story.meetingDay || rel === story.closeDay;\n  if (!engagedStatuses.includes(lead.status) && !onSpecialDay && lead.nextReminderDay === day && lead.remindersSent < maxR) {\n    const rn = lead.remindersSent + 1;\n    const msgFn = rn === 1 ? pick(FU1, lead.id, 'fu1') : pick(FU2, lead.id, 'fu2');\n    actions.push({ id: uid(), day, type: 'email_sent', leadId: lead.id, leadName: n, actor: 'ai', summary: 'Follow-up #' + rn + ' sent to ' + n + ' (AI-drafted)', detail: { from: rep + ' via CloseIt AI', to: lead.email, subject: rn === 1 ? 'Checking in — ' + proj : 'Last note from us — ' + first, body: msgFn(n, rep, proj) }, timestamp: ts() });\n    updates.remindersSent = rn; updates.lastActionDay = day;\n    if (rn >= maxR) {\n      updates.status = 'Nurture'; updates.nextReminderDay = null;\n      actions.push({ id: uid(), day, type: 'moved_to_nurture', leadId: lead.id, leadName: n, actor: 'system', summary: n + ' moved to Nurture — max follow-ups reached', detail: { reason: maxR + ' follow-ups sent with no response. Sequence paused.' }, timestamp: ts() });\n    } else {\n      updates.nextReminderDay = day + freq; updates.status = 'Awaiting Reply';\n    }\n  }\n\n  allActions.push(...actions);\n  if (Object.keys(updates).length > 0) leadUpdates[lead.id] = updates;\n}\n\nreturn [{ json: { day, actions: allActions, leadUpdates } }];"
      },
      "id": "wf2-04",
      "name": "Compute Day Actions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Split the actions array into individual items for Sheets append\nconst { day, actions, leadUpdates } = $input.first().json;\n\nif (!actions || actions.length === 0) {\n  // No actions — return a dummy item to keep the flow going\n  return [{ json: { _noActions: true, day, leadUpdates } }];\n}\n\nreturn actions.map(action => ({\n  json: {\n    lead_id: action.leadId,\n    day: action.day,\n    action_type: action.type,\n    actor: action.actor,\n    summary: action.summary,\n    detail_json: JSON.stringify(action.detail || {}),\n    timestamp: action.timestamp\n  }\n}));"
      },
      "id": "wf2-05",
      "name": "Split to Activity Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "12jrapE2Qnmvb9DbVDnLVuAwnzgQOUnWEq9ESrOhXcdQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Activity Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "wf2-06",
      "name": "Append to Activity Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1100,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "wf2-07",
      "name": "Collect Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const computedData = $('Compute Day Actions').first().json;\nreturn [{ json: { day: computedData.day, actions: computedData.actions, leadUpdates: computedData.leadUpdates } }];"
      },
      "id": "wf2-08",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ day: $json.day, actions: $json.actions, leadUpdates: $json.leadUpdates }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "wf2-09",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1820,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Secret": {
      "main": [
        [
          {
            "node": "Compute Day Actions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject 401",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Day Actions": {
      "main": [
        [
          {
            "node": "Split to Activity Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split to Activity Rows": {
      "main": [
        [
          {
            "node": "Append to Activity Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Activity Log": {
      "main": [
        [
          {
            "node": "Collect Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Results": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {},
  "versionId": "wf2-closeit-v1"
}